$actionIconWidth:2rem !default;
$actionIconHeight:2rem !default;

$inputPadding: .75rem .75rem !default;
$inputListItemPadding: .75rem .75rem !default;
$inputListHeaderPadding:.75rem !default;
$inputGroupAddOnMinWidth:2.75rem !default;

$multiselectHeaderIconWidth:2.25rem !default;
$multiselectHeaderIconHeight:.2.25rem !default;

$buttonPadding:0.643rem .75rem !default;
$buttonIconOnlyWidth:2.75rem !default;
$buttonIconOnlyPadding:0.643rem !default;

$ratingIconFontSize:1rem !default;

$calendarCellDateWidth:2.25rem !default;
$calendarCellDateHeight:2.25rem !default;

$calendarActionIconWidth:2.25rem !default;
$calendarActionIconHeight:2.25rem !default;

$calendarButtonBarPadding:.75rem 0 !default;

$panelHeaderPadding:.75rem !default;
$panelContentPadding:.75rem !default;
$panelFooterPadding:.75rem .75rem !default;

$accordionHeaderPadding:1.25rem !default;
$accordionContentPadding:.75rem 1.25rem !default;

$tabviewHeaderPadding:.75rem 1.25rem !default;
$tabviewContentPadding:.75rem !default;

$cardBodyPadding:.75rem !default;
$cardContentPadding:.75rem 0 !default;
$cardFooterPadding:.75rem 0 0 0 !default;
$paginatorPadding:.375rem .75rem !default;

$tableHeaderPadding:.75rem .75rem !default;
$tableHeaderCellPadding:.75rem .75rem !default;
$tableBodyCellPadding:.75rem .75rem !default;
$tableFooterCellPadding:.75rem .75rem !default;
$tableFooterPadding:.75rem .75rem !default;

$dataViewContentPadding:.75rem !default;
$treeNodeContentPadding:.571rem !default;

$messageMargin:.75rem 0 !default;
$messagePadding: 1rem 1.25rem !default;
$messageIconFontSize:1.5rem !default;
$messageCloseIconWidth:2.25rem !default;
$messageCloseIconHeight:2.25rem !default;
$inlineMessagePadding:.75rem .75rem !default;

$toastPadding:1.25rem !default;

$toastCloseIconWidth:1.5rem !default;
$toastCloseIconHeight:1.5rem !default;

$dialogHeaderPadding:1.25rem !default;
$dialogContentPadding: 0 1.25rem 1.25rem 1.25rem !default;
$dialogFooterPadding:.75rem 1.25rem !default;

$dialogHeaderActionIconWidth:2.25rem !default;
$dialogHeaderActionIconHeight:2.25rem !default;

$sidebarCloseIconWidth:2.25rem !default;
$sidebarCloseIconHeight:2.25rem !default;

$overlayPanelCloseIconWidth:2.25rem !default;
$overlayPanelCloseIconHeight:2.25rem !default;

$menuitemPadding:.75rem .75rem !default;
$submenuHeaderPadding:.75rem !default;

$breadcrumbPadding:.75rem !default;

$horizontalMenuPadding:.75rem !default;

$horizontalMenuRootMenuitemPadding:.75rem !default;

$menubarButtonWidth:2.25rem !default;
$menubarButtonHeight:2.25rem !default;

$carouselNavIconWidth:2.25rem !default;
$carouselNavIconHeight:2.25rem !default;
