@use "../abstracts" as *;
@use "../colors" as crs;
@use "../variables" as *;

:root,
.light-mode {
  --font-family: Roboto, Tajawal, system-ui, -apple-system, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  @include themMode("light", crs.$layout-colors, $root-variables);
  --spacing: #{$spacer};
  --radius: 8px;
  --font-size: 1rem;
  --topBar-height: 56px;
  --breadcrumb-height: 36px;
  --menu-width: 120px;
  --menu-border-width: 0 0 0 3px;
  --layout-main-margin: 0 0 0 var(--menu-width);
  --btn-save-padding: calc(var(--spacing) + 0.5vw);
  --view-header-border-width: 0 1px 0 0;
  --card-width: 100%;
  --card-border-radius: 10px;
  --card-margin: 0 5px;
  --card-height: 100%;
  --card-padding: 0;
  --card-leading-width: min(9vw, 130px);
  --card-leading-radius: 10px 0 0 10px;
  --card-body-padding: 1.5rem;
  --card-min-width: 100%;
  --card-min-height: 170px;
  --search-bar-min-height: 30px;
  --search-bar-line-height: 16px;
  --dialog-width: auto;
  --dialog-header-padding: 3rem 3rem 1rem;
  --dialog-content-padding: 2rem 3rem;
  --dialog-footer-padding: 1rem 3rem 3rem 3rem;
  --dialog-radius: 20px;
  --dialog-header-radius: 20px 20px 0 0;
  --dialog-footer-radius: 0 0 20px 20px;
  --rb-small-size: 56px;
  --rb-size: 80px;
  --sidebar-translate: -100%;
  --sidebar-width: 320px;
  --sidebar-opened-padding: 0 0 0 var(--sidebar-width);
  --sidebar-toggle-transform: rotate(0);
  --sidebar-toggle-transform-opened: rotate(180deg);
  --dt-first-border-width: 0 0 1px 1px;
  --table-actions-width: 60px;
  --table-actions-height: 45px;
  --table-actions-shadow: -3px 0 16px 0 rgba(0, 0, 0, 0.07);
  --dt-th-padding: 1rem;
  --dt-index-width: 50px;
  --dt-first-border-width: 0 0 1px 1px;
  --dt-last-border-width: 0 1px 1px 0;
  --config-sidebar-width: 30rem;
  --portlet-header-padding: 1rem;
  --layout-y-spacing: 18px;
  --layout-x-spacing: 26px;
  --icon-size: 30px;
  --icon-font-size: 14px;
  --btn-size: 30px;
  --menu-slim-width: 4.5rem;
}

@media (max-width: $mobileBreakpoint) {
  :root {
    --topBar-height: 92px;
  }
}
@media screen and (min-width: #{$mobileBreakpoint + 1}) {
  :root {
    --logo-width: var(--menu-width);
    --menu-button: calc(var(--menu-width) - 1.25rem);
    --dialog-width: 60vw;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --card-leading-width: 100px;
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  :root {
    --logo-width: 17rem;
    --menu-button: 16rem;
    --btn-save-padding: calc(var(--spacing) / 2);
    --card-leading-width: 130px;
    --dialog-header-padding: 2rem 2rem 1rem;
    --dialog-content-padding: 1rem 2rem;
    --dialog-footer-padding: 1rem 2rem 2rem 2rem;
    --config-sidebar-width: 90%;
  }
}

@media (max-width: $sm) {
  :root {
    --card-leading-width: 110px;
    --dialog-header-padding: 2rem 1rem 1rem 1rem;
    --dialog-content-padding: 1rem;
    --dialog-footer-padding: 1rem;
    --card-margin: 0;
    --sidebar-width: 80%;
    --tab-link-padding: var(--spacing);
  }
}

@media (min-width: $md) {
  :root {
    --c-w: 400px;
  }
}

@media (min-width: $xxl) {
  :root {
    --topBar-height: 64px;
    --breadcrumb-height: 48px;
    --search-bar-min-height: 40px;
    --search-bar-line-height: 24px;
    --portlet-header-padding: 20px;
    --portlet-header-padding-top: 4px;
    --layout-y-spacing: 24px;
    --layout-x-spacing: 36px;
    --icon-size: 36px;
    --icon-font-size: 16px;
    --btn-size: 37px;
  }
}

.layout-rtl,
[dir="rtl"] {
  --menu-border-width: 0 3px 0 0;
  --layout-main-margin: 0 var(--menu-width) 0 0;
  --menu-icons-transform: translate3d(var(--menu-width), 0px, 0px);
  --view-header-border-width: 0 0 0 1px;
  --card-leading-radius: 0 10px 10px 0;
  --sidebar-translate: 100%;
  --sidebar-opened-padding: 0 var(--sidebar-width) 0 0;
  --sidebar-toggle-transform: rotate(180deg);
  --sidebar-toggle-transform-opened: rotate(0);
  --dt-first-border-width: 0 1px 1px 0;
  --dt-last-border-width: 0 0 1px 1px;
  --table-actions-shadow: 3px 0 16px 0 rgba(0, 0, 0, 0.07);
  --tableCellContentAlignment: start;
  --widget-border-width: 1px 0 1px 1px;
  --btn-size: 40px;
  --timeline-action-min-width: 167px;
}

.dark-mode {
  @include themMode("dark", crs.$layout-colors, $root-variables);
}
