.layout-menu-static {
  .menu-wrapper {
    .layout-menu-container {
      .layout-menu {
        li {
          &.layout-root-menuitem {
            > a {
              display: flex;
              text-align: start;
            }

            > div {
              display: none;
            }
          }



          > ul {
            //overflow: auto;

            li {
              ul {
                padding: 0 0 0.25rem;
                overflow: hidden;

              }
            }

            > li {
              margin-top: 0.2rem;

              &.layout-root-menuitem {
                > a {
                  display: flex;
                  text-align: start;
                }
              }
            }
          }
        }
      }
    }
  }
}
