@use 'variables' as *;
[dir="rtl"] {
  .p-pr-0,
  .p-pr-1,
  .p-pr-2,
  .p-pr-3,
  .p-pr-4,
  .p-pr-5,
  .p-pr-6 {
    padding-right: unset !important;
  }

  .p-pl-0,
  .p-pl-1,
  .p-pl-2,
  .p-pl-3,
  .p-pl-4,
  .p-pl-5,
  .p-pl-6 {
    padding-left: unset !important;
  }

  .p-pr-0 {
    padding-left: 0 !important;
  }
  .p-pr-1 {
    padding-left: $spacer * 0.25 !important;
  }
  .p-pr-2 {
    padding-left: $spacer * 0.5 !important;
  }
  .p-pr-3 {
    padding-left: $spacer * 1 !important;
  }
  .p-pr-4 {
    padding-left: $spacer * 1.5 !important;
  }
  .p-pr-5 {
    padding-left: $spacer * 2 !important;
  }
  .p-pr-6 {
    padding-left: $spacer * 3 !important;
  }

  .p-pl-0 {
    padding-right: 0 !important;
  }
  .p-pl-1 {
    padding-right: $spacer * 0.25 !important;
  }
  .p-pl-2 {
    padding-right: $spacer * 0.5 !important;
  }
  .p-pl-3 {
    padding-right: $spacer * 1 !important;
  }
  .p-pl-4 {
    padding-right: $spacer * 1.5 !important;
  }
  .p-pl-5 {
    padding-right: $spacer * 2 !important;
  }
  .p-pl-6 {
    padding-right: $spacer * 3 !important;
  }

  @media screen and (min-width: $sm) {
    .p-pr-sm-0,
    .p-pr-sm-1,
    .p-pr-sm-2,
    .p-pr-sm-3,
    .p-pr-sm-4,
    .p-pr-sm-5,
    .p-pr-sm-6 {
      padding-right: unset !important;
    }
    .p-pl-sm-0,
    .p-pl-sm-1,
    .p-pl-sm-2,
    .p-pl-sm-3,
    .p-pl-sm-4,
    .p-pl-sm-5,
    .p-pl-sm-6 {
      padding-left: unset !important;
    }
    .p-pr-sm-0 {
      padding-left: 0 !important;
    }
    .p-pr-sm-1 {
      padding-left: $spacer * 0.25 !important;
    }
    .p-pr-sm-2 {
      padding-left: $spacer * 0.5 !important;
    }
    .p-pr-sm-3 {
      padding-left: $spacer * 1 !important;
    }
    .p-pr-sm-4 {
      padding-left: $spacer * 1.5 !important;
    }
    .p-pr-sm-5 {
      padding-left: $spacer * 2 !important;
    }
    .p-pr-sm-6 {
      padding-left: $spacer * 3 !important;
    }

    .p-pl-sm-0 {
      padding-right: 0 !important;
    }
    .p-pl-sm-1 {
      padding-right: $spacer * 0.25 !important;
    }
    .p-pl-sm-2 {
      padding-right: $spacer * 0.5 !important;
    }
    .p-pl-sm-3 {
      padding-right: $spacer * 1 !important;
    }
    .p-pl-sm-4 {
      padding-right: $spacer * 1.5 !important;
    }
    .p-pl-sm-5 {
      padding-right: $spacer * 2 !important;
    }
    .p-pl-sm-6 {
      padding-right: $spacer * 3 !important;
    }
  }

  @media screen and (min-width: $md) {
    .p-pr-md-0,
    .p-pr-md-1,
    .p-pr-md-2,
    .p-pr-md-3,
    .p-pr-md-4,
    .p-pr-md-5,
    .p-pr-md-6 {
      padding-right: unset !important;
    }
    .p-pl-md-0,
    .p-pl-md-1,
    .p-pl-md-2,
    .p-pl-md-3,
    .p-pl-md-4,
    .p-pl-md-5,
    .p-pl-md-6 {
      padding-left: unset !important;
    }

    .p-pr-md-0 {
      padding-left: 0 !important;
    }
    .p-pr-md-1 {
      padding-left: $spacer * 0.25 !important;
    }
    .p-pr-md-2 {
      padding-left: $spacer * 0.5 !important;
    }
    .p-pr-md-3 {
      padding-left: $spacer * 1 !important;
    }
    .p-pr-md-4 {
      padding-left: $spacer * 1.5 !important;
    }
    .p-pr-md-5 {
      padding-left: $spacer * 2 !important;
    }
    .p-pr-md-6 {
      padding-left: $spacer * 3 !important;
    }

    .p-pl-md-0 {
      padding-right: 0 !important;
    }
    .p-pl-md-1 {
      padding-right: $spacer * 0.25 !important;
    }
    .p-pl-md-2 {
      padding-right: $spacer * 0.5 !important;
    }
    .p-pl-md-3 {
      padding-right: $spacer * 1 !important;
    }
    .p-pl-md-4 {
      padding-right: $spacer * 1.5 !important;
    }
    .p-pl-md-5 {
      padding-right: $spacer * 2 !important;
    }
    .p-pl-md-6 {
      padding-right: $spacer * 3 !important;
    }
  }

  @media screen and (min-width: $lg) {
    .p-pl-lg-0
      .p-pl-lg-1
      .p-pl-lg-2
      .p-pl-lg-3
      .p-pl-lg-4
      .p-pl-lg-5
      .p-pl-lg-6 {
      padding-left: unset !important;
    }
    .p-pr-lg-0
      .p-pr-lg-1
      .p-pr-lg-2
      .p-pr-lg-3
      .p-pr-lg-4
      .p-pr-lg-5
      .p-pr-lg-6 {
      padding-right: unset !important;
    }
    .p-pr-lg-0 {
      padding-left: 0 !important;
    }
    .p-pr-lg-1 {
      padding-left: $spacer * 0.25 !important;
    }
    .p-pr-lg-2 {
      padding-left: $spacer * 0.5 !important;
    }
    .p-pr-lg-3 {
      padding-left: $spacer * 1 !important;
    }
    .p-pr-lg-4 {
      padding-left: $spacer * 1.5 !important;
    }
    .p-pr-lg-5 {
      padding-left: $spacer * 2 !important;
    }
    .p-pr-lg-6 {
      padding-left: $spacer * 3 !important;
    }

    .p-pl-lg-0 {
      padding-right: 0 !important;
    }
    .p-pl-lg-1 {
      padding-right: $spacer * 0.25 !important;
    }
    .p-pl-lg-2 {
      padding-right: $spacer * 0.5 !important;
    }
    .p-pl-lg-3 {
      padding-right: $spacer * 1 !important;
    }
    .p-pl-lg-4 {
      padding-right: $spacer * 1.5 !important;
    }
    .p-pl-lg-5 {
      padding-right: $spacer * 2 !important;
    }
    .p-pl-lg-6 {
      padding-right: $spacer * 3 !important;
    }
  }

  @media screen and (min-width: $xl) {
    .p-pr-xl-0,
    .p-pr-xl-1,
    .p-pr-xl-2,
    .p-pr-xl-3,
    .p-pr-xl-4,
    .p-pr-xl-5,
    .p-pr-xl-6 {
      padding-right: unset !important;
    }
    .p-pl-xl-0
      .p-pl-xl-1
      .p-pl-xl-2
      .p-pl-xl-3
      .p-pl-xl-4
      .p-pl-xl-5
      .p-pl-xl-6 {
      padding-left: unset !important;
    }

    .p-pr-xl-0 {
      padding-left: 0 !important;
    }
    .p-pr-xl-1 {
      padding-left: $spacer * 0.25 !important;
    }
    .p-pr-xl-2 {
      padding-left: $spacer * 0.5 !important;
    }
    .p-pr-xl-3 {
      padding-left: $spacer * 1 !important;
    }
    .p-pr-xl-4 {
      padding-left: $spacer * 1.5 !important;
    }
    .p-pr-xl-5 {
      padding-left: $spacer * 2 !important;
    }
    .p-pr-xl-6 {
      padding-left: $spacer * 3 !important;
    }

    .p-pl-xl-0 {
      padding-right: 0 !important;
    }
    .p-pl-xl-1 {
      padding-right: $spacer * 0.25 !important;
    }
    .p-pl-xl-2 {
      padding-right: $spacer * 0.5 !important;
    }
    .p-pl-xl-3 {
      padding-right: $spacer * 1 !important;
    }
    .p-pl-xl-4 {
      padding-right: $spacer * 1.5 !important;
    }
    .p-pl-xl-5 {
      padding-right: $spacer * 2 !important;
    }
    .p-pl-xl-6 {
      padding-right: $spacer * 3 !important;
    }
  }
}
