$primaryColor:#3F51B5;
$primaryLightestColor: #E8EAF6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#ff4081;
$accentTextColor:#ffffff;
$success: #8ab16e;
$danger: #e30000;

$chart-colors: $primaryColor "#A8D0DB" "#E49273" "#A37A74";
$custom-colors: (
 /*  color: (
    "dark": value,
    "light": value,
  ),
*/
);
