$primaryColor: #2196f3;
$primaryLightestColor: #e3f2fd;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor: #ffffff;
$accentColor: #f37f21;
$accentTextColor: #212121;

$success: #8ab16e;
$danger: #e30000;

$chart-colors: $primaryColor "#ECC30B" "#F37748" "#348AA7";

$custom-colors: (
 /*  color: (
    "dark": value,
    "light": value,
  ),
*/
);
