$primaryColor: #76613b;
$primaryLightestColor: #fff8e1;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor: #fff;
$accentColor: #6e6e6e;
$accentTextColor: #ffffff;

$success: #8ab16e;
$danger: #e30000;

$chart-colors: $primaryColor "#988b6a" "#9775A3" "#E9DDBB";
$custom-colors: (/*  color: (
    "dark": value,
    "light": value,
  ),
*/);
