$primaryColor: #795548;
$primaryLightestColor: #efebe9;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor: #ffffff;
$accentColor: #486c79;
$accentTextColor: #ffffff;

$success: #8ab16e;
$danger: #e30000;

$chart-colors: $primaryColor "#BCE784" "#5DD39E" "#5DD39E";
$custom-colors: (/*  color: (
    "dark": value,
    "light": value,
  ),
*/);
